.card-list {
  margin-left: ($space-md * -1);
  margin-top: ($space-md * -1);
  list-style: none;
  display: flex;
  flex-flow: wrap;
  &__item {
    margin-left: $space-md;
    margin-top: $space-md;
    display: flex;
    flex-flow: column;
    flex: 1 0 100%;
    &:nth-child(even) {
      border-left: $space-sm solid $tertiary;
    }
    &:nth-child(odd) {
      border-left: $space-sm solid $primary;
    }
    @include mq-lg {
      flex: 1 0 calc(50% - #{$space-md});
    }
  }
}

.card {
  padding: $space-md;
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  align-items: flex-start;
  &__footer {
    margin-top: auto;
    text-align: right;
  }
  &__date {
    font-size: $font-scale-xs;
    color: $grey-400
  }
}
