.card-list {
  // margin-left: ($space-md * -1);
  margin-top: ($space-md * -1);
  list-style: none;
  display: flex;
  flex-flow: wrap;
  @include mq-lg {
    // margin-left: ($space-lg * -1);
    margin-top: ($space-lg * -1);
  }
  &__item {
    // padding-left: $space-md;
    padding-top: $space-md;
    display: flex;
    flex-flow: column;
    flex: 1 0 100%;
    @include mq-lg {
      // padding-left: $space-lg;
      padding-top: $space-lg;
      // flex: 1 0 50%;
    }
  }
}

.card {
  padding: $space-md;
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba($grey-700, 0.1), 0 1px 5px 0 rgba($grey-700, 0.1);
  &__image {
    width: 100%;
  }
  &__footer {
    margin-top: auto;
    text-align: right;
  }
  &__date {
    font-size: $font-scale-xs;
    color: $grey-400
  }
}

.media {
  padding: $space-sm;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 2px rgba($grey-700, 0.1), 0 1px 5px 0 rgba($grey-700, 0.1);
  @include mq-md {
    padding: $space-md;
  }
  @include mq-lg {
    padding: $space-lg;
  }
  &__img {
    margin-right: $space-sm;
    padding: $space-sm;
    width: $space-xl;
    height: $space-xl;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    color: $white;
    border-radius: 50%;
    background: $tertiary;
    @include mq-md {
      width: $space-xl;
      height: $space-xl;
      margin-right: $space-md;
    }
    @include mq-lg {
      width: auto;
      height: auto;
      padding: $space-md;
    }
  }
  &__body {
    font-size: 1rem;
    line-height: $line-height;
  }
  &__footer {
  }
  &__date {
    font-size: $font-scale-xs;
    color: $grey-400
  }
}
