.sidebar {
  min-height: 100vh;
  padding: $space-lg;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.25em;
  color: $text-light;
  background: $secondary;
  font-family: $ff-serif;
  line-height: $line-height;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include shadow--y;
  &--slide {
    position: fixed;
    min-height: 100%; // Stops it breaking on mobile when browser UI hides
    width: 75%;
    text-align: left;
    @include shadow--x;
    transform: translateX(-101%);
    transition: transform 0.2s ease-out;
    z-index: 10;
    @include mq-md {
      transform: translateX(0);
    }
    & .sidebar__title {
      margin-left: 0;
    }
  }
  @include mq-md {
    position: fixed;
    width: $sidebar-width;
    padding: $space-lg;
    font-size: $font-scale-sm;
    text-align: left;
    @include shadow--x;
  }
  @include mq-lg {
    padding: $space-xl;
    width: $sidebar-width-max;
    font-size: 1.125em;
  }
  &__title {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
    font-size: $font-scale-lg;
    white-space: nowrap;
    text-shadow: 1px 1px 1px $grey-700;
    z-index: 10;
    // @include stripes;
    &::before {
      @include stripe($side: "left", $width: 70%, $height: 40%);
    }
    &::after {
      @include stripe($side: "right", $width: 55%, $height: 35%, $color: #{$tertiary});
    }
    @include mq-md {
      margin-left: 0;
    }
    @include mq-lg {
      font-size: $font-scale-xl;
    }
    & > a {
      &:hover {
        color: inherit;
      }
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba($grey-700, 0.7);
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.js-sidebar--open {
  overflow: hidden;
  & .sidebar__overlay {
    opacity: 1;
    height: 100%;
  }
  & .sidebar--slide {
    transform: translateX(0);
  }
}

.sidebar-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: $space-md;
  margin-bottom: $space-md;
  padding: $space-xs;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background: $tertiary;
  color: $white;
  border: none;
  border-radius: 2px;
  z-index: 100;
  -webkit-tap-highlight-color: transparent; // Disable mobile tap outline
  transition: all 0.1s;
  @include shadow--x;
  @include mq-md {
    display: none;
  }
  &:focus {
    outline-color: $primary;
  }
  &:focus:hover {
    outline: none;
  }
  &:hover {
    background: darken($tertiary, 8%);
  }
  &:active {
    // background: darken($tertiary, 16%);
    transform: translateY(2px);
  }
}
