.sidebar {
  height: 100%;
  height: 100vh;
  padding: $space-lg;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.25em;
  color: $text-light;
  background: $secondary;
  font-family: $ff-serif;
  line-height: 1.2;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  @include mq-md {
    position: fixed;
    width: $sidebar-width;
    padding: $space-md;
    font-size: 1.125em;
    text-align: left;
    box-shadow: 3px 0 4px 1px rgba($grey-700, 0.5);
  }
  @include mq-lg {
    padding: $space-lg;
    font-size: 1.25em;
  }
  &__title {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
    white-space: nowrap;
    z-index: 10;
    @include stripes;
    @include mq-md {
      margin-left: 0;
      margin-right: 0;
      font-size: $font-scale-lg;
    }
    @include mq-lg {
      font-size: $font-scale-xl;
    }
  }
}
