.space-md {
  & > * + * {
    margin-top: 1em;
  }
  & > h2 + p, h3 + p, h4 + p {
    // Ensure the paragraph following a heading sits closer
    margin-top: 0.5em;
  }
}

.space-lg {
  & > * + * {
    margin-top: $line-height * 2em;
  }
}
