@mixin mq-sm {
  @media (min-width: $mq-sm) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: $mq-md) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: $mq-lg) {
    @content;
  }
}

@mixin mq-xl {
  @media (min-width: $mq-xl) {
    @content;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin stripe($side: 0, $width: 100%, $height: 25%, $color: #{$primary}) {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: $width;
  height: $height;
  background: $color;
  z-index: -10;
  @if $side == "left" {
    left: -2.5%;
    transform: rotate(-2deg);
  } @else if $side == "right" {
    left: auto;
    right: -2.5%;
    transform: rotate(-3deg);
  }
}

@mixin shadow--y {
  box-shadow: 0 2px 2px rgba($grey-700, 0.1), 0 2px 5px 0 rgba($grey-700, 0.1);
}

@mixin shadow--x {
  box-shadow: 2px 0 2px rgba($grey-900, 0.4), 2px 0 5px 0 rgba($grey-900, 0.25);
}
